header {
  position: fixed;
  width: 100vw;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: transparent;
  transition: 0.5s;
  z-index: 99999;
}

header.black {
  background-color: #111;
}

.logo a {
  color: hsla(0, 98%, 50%, 0.561);
  font-size: 2.5rem;
  font-weight: bold;
}
.navigation ul li {
  font-size: 1.2rem;
  display: inline-flex;
  padding: 0 4rem;
  transition: 0.5s;
  cursor: pointer;
}

.navigation ul li a {
  color: #fd03038f;
  font-size: 1.5rem;
}

.navigation ul li:hover {
  color: #fff;
  border-bottom: 1px solid #fff;
}

@media (max-width: 700px){
  header {
    height: 70px;
    padding: 0;
    justify-content: center;
  }
  
  .logo {
    z-index: 9999;
    }
    .navigation ul {
      position: absolute;
      left: 0;
      top: 60px;
      width: 100%;
      text-align: center;
      background-color: #111;
      visibility: hidden;
    }

    .navigation ul li {
      margin-top: 2rem;
      margin-bottom: 1rem;
      display: block;
    }

    .navigation ul li a {
      color: #fff;
    }
}