.photoSection {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.photoRowItem {
  width: auto;
  cursor: pointer;
}
.photoRowItem img {
  width: 100%;
  transform: scale(0.9);
  transition: 0.5s;
}
.photoRowItem img:hover {
  transform: scale(1);
}
.pagination {
  margin: 2rem;
  display: flex;
  justify-content: center;
}
.pagination a {
  width: 3rem;
  cursor: pointer;
  color: #fff;
  font-size: 2rem;
  transition: 0.3s;
}
.pagination a:hover {
  transform: scale(1.2);
}
.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #111;
  z-index: 99;
}
.loading img .gif {
  font-size: 20px;
}


@media (max-width: 420px) {
  .photoSection {
    margin-bottom: 1rem;
    display: flex;
  }
  .photoRowItem {
    width: auto;
  }  
  .photoRowItem img {
    width: 100%;
    height: 235px;
  }
  .pagination {
    margin-bottom: 1rem;
  }
}